[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
uvicorn = "*"
whitenoise = "*"

[dev-packages]

[scripts]
admin = "django-admin"
start = "hello/manage.py runserver 0:8000"
serve = "uvicorn hello.asgi:application --host 0.0.0.0 --port 8000"
